.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

@media screen and (max-width: 640px) {
  .footerContainer {
    padding: 0rem 2.5rem;
  }

  .footerList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
