.footerContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footerList {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.footerList li {
  text-align: end;
}

.footerList li {
  margin-bottom: 0.7rem;
}

.creditContainer a:hover,
.footerList a:hover {
  color: var(--oldEngland);
}

.active {
  text-decoration: underline;
  color: var(--oldEngland);
}

@media screen and (max-width: 640px) {
  .footerContainer {
    padding: 0rem 1rem;
    font-size: 0.9em;
  }

  .footerList {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .creditContainer {
    width: 50%;
  }
}
