:root {
  --max-width: 1280px;
  --border-radius: 12px;
  /* --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace; */
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --mainText: #373737;
  --cream: #786153;
  --greyish: #c7c7c7;
  --orage: #a1b6c9;
  --mustard: #edaa0c;
  --oldEngland: #785e21;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

main {
  width: 100%;
  /* height: 100%; */
  padding-bottom: 6rem;
}

/* h1,
p,
li {
  color: var(--maintText);
  font-family: "Times New Roman", Times, serif;
} */

body {
  color: var(--mainText);
}

footer {
  width: 100%;
  height: 110px;
  border-top: 1px solid var(--mainText);
  padding: 2rem 0rem;
  margin-top: 5rem;
  position: absolute;
  bottom: 0;
}

h1 {
  font-size: 3em;
  color: var(--oldEngland);
  font-weight: 300;
  letter-spacing: 0.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--mainText);
}

button {
  border: none;
  padding: 0 15px;
  height: 50px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition-duration: 0.3s;
}

button:hover {
  background-color: var(--oldEngland);
}

/* ==== BLOG === */

.mdx-h2 {
  font-size: 3em;
  font-weight: 600;

  color: var(--mainText);
}

.mdx-h3 {
  font-size: 2em;
  font-weight: 500;
  color: var(--mainText);
}

.mdx-p {
  font-size: 1.2em;
  margin-bottom: 1.5em;
  line-height: 1.6em;
}

.mdx-hero-image {
  position: relative;
  width: 100%;
  height: 600px;
  margin: 3rem 0rem;

  img {
    border-radius: 10px;
    object-fit: cover;
    object-position: center;
  }
}

/* ==== BLOG === */
