.navbarContainer {
  width: 100%;
  display: flex;
  height: 10vh;
  min-height: 80px;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 1rem 0 5rem 0;
}

.logoContainer {
  width: 100px;
  height: 100px;
  color: var(--mainText);
  font-size: 18px;
  font-weight: 600;
  padding-right: 2em;
  position: relative;
}
.logo {
  border-radius: 50%;
}

.logoSide {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.smCartIcon {
  display: none;
}

.menuSide {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.menu {
  display: flex;
  height: 100%;
  align-items: center;
}
.menu li {
  padding-right: 1em;
}

.menu li:hover {
  color: var(--oldEngland);
}

.menu > li:last-child {
  padding-right: 0;
}

.active {
  text-decoration: underline;
  color: var(--oldEngland);
}

.search {
  cursor: pointer;
  text-overflow: ellipsis;
  padding: 0 15px;
  font-size: 1rem;
  font-weight: 600;
  color: gray;
  transition: 0.3s;
}
.search:hover {
  color: var(--mainColor);
}

.cartIcon {
  cursor: pointer;
  position: relative;
}
.cartIcon:hover {
  color: var(--mainText);
}

.cartIcon span {
  position: absolute;
  top: 6px;
  font-size: 1.2rem;
  font-weight: 600;
}

.cartItemQty {
  position: absolute;
  right: -8px;
  color: #eee;
  background-color: var(--mainText);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

@media screen and (max-width: 870px) {
  .navbarContainer {
    padding: 0 2rem;
  }
}

@media screen and (max-width: 640px) {
  .navbarContainer {
    flex-wrap: wrap;
    height: 110px;
    margin: 1rem 0 4rem 0;
    padding: 0;
  }
  .logoContainer {
    height: 50px;
    width: 50px;
    position: relative;
  }

  .smCartIcon {
    display: block;
    cursor: pointer;
    position: relative;
    top: 0.2em;
  }

  .smCartIcon span {
    position: absolute;
    font-size: 0.9em;
    font-weight: 500;
    color: var(--mainText);
  }

  .logoSide {
    width: 100%;
    height: 50%;
    justify-content: space-between;
    padding-right: 2rem;
  }

  .menuSide {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .menu {
    font-size: 0.9em;
  }

  .menu > li:last-child {
    display: none;
  }
}
