.navContainer {
  display: block;
}

.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.imgContainer,
.smImgContainer {
  height: 600px;
  display: block;
  position: relative;
}

.landscapeImgContainer {
  width: 62%;
}

.imgContainer > img,
.smImgContainer > img {
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: fill;
  cursor: pointer;
  object-position: center top;
  object-fit: scale-down;
}

.imgContainer > img:hover {
  transform: scale(1.01);
  transition: 0.1s ease-in-out;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem 0rem 0rem 1rem;
}

.landscapeDetailsContainer {
  width: 38%;
}

/* for images format that are square or portrait */
.classicContainer {
  width: 50%;
}

.detailsContainer > h2,
.detailsContainer > p {
  padding-bottom: 0.5rem;
}

.detailsContainer > h3 {
  padding-bottom: 1.3rem;
  color: var(--oldEngland);
}

.detailsContainer > em {
  padding-bottom: 1rem;
}

.btns {
  height: 140px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.arrowBackContainer {
  padding-left: 2rem;
}

@media screen and (max-width: 1000px) {
  .container {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .imgContainer {
    width: 100%;
    /* height: 600px; */
    display: block;
    position: relative;
    margin: 1rem 0rem;
  }

  .landscapeImgContainer {
    height: 320px;
  }

  .classicContainer {
    height: 420px;
  }

  .imgContainer > img {
    aspect-ratio: auto;
  }
  .detailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;

    align-items: flex-start;
    justify-content: flex-start;
    padding: 1rem 2rem;
  }

  /* titre */
  .detailsContainer :nth-child(1) {
    order: 1;
  }

  /* medium */
  .detailsContainer :nth-child(2) {
    order: 2;
  }

  /* prix */
  .detailsContainer :nth-child(3) {
    order: 3;
  }

  /* boutons */
  .detailsContainer :nth-child(5) {
    order: 4;
  }

  /* description */
  .detailsContainer :nth-child(4) {
    order: 5;
    margin: 2rem 0rem;
  }

  .btns {
    height: 77px;
  }
}

@media screen and (max-width: 640px) {
  .smImgContainer {
    width: 100%;
    height: 330px;
    display: block;
    position: relative;
  }

  .smImgContainer > img {
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: fill;
    cursor: pointer;
    object-position: center center;
    object-fit: scale-down;
  }

  .landscapeImgContainer {
    width: 100%;
  }

  .imgContainer > img {
    object-position: center center;
  }

  .detailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }
}
