.navContainer {
  display: block;
}

.container {
  width: 100%;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

/* .imgContainer {
  flex: 1;
  position: relative;
  background-color: aquamarine;
  height: 600px;
}

.detailsContainer {
  flex: 1;
  padding: 0rem 0rem 0rem 1rem;
} */

.imgContainer {
  height: 600px;
  display: block;
  position: relative;
  /* background-color: aquamarine; */
}

.landscapeImgContainer {
  width: 62%;
}

.imgContainer > img {
  position: absolute;
  top: 0px;
  left: 0px;
  object-fit: fill;
  cursor: pointer;
  object-position: center top;
  object-fit: scale-down;
}

.imgContainer > img:hover {
  /* -webkit-filter: brightness(110%);
  filter: brightness(110%); */
  transform: scale(1.01);
  transition: 0.1s ease-in-out;
}

.detailsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0rem 0rem 0rem 1rem;
}

.landscapeDetailsContainer {
  width: 38%;
}

/* for images format that are square or portrait */
.classicContainer {
  width: 50%;
}

.detailsContainer > h2,
.detailsContainer > p {
  padding-bottom: 1rem;
}

.detailsContainer > h3 {
  padding-bottom: 0.5rem;
  color: var(--oldEngland);
}

.btns {
  height: 140px;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.arrowBackContainer {
  padding-left: 2rem;
}

@media screen and (max-width: 640px) {
  .container {
    flex-direction: column;
    gap: 0;
    padding: 0;
  }
  .imgContainer {
    width: 100%;
    /* height: 600px; */
    display: block;
    position: relative;
    margin: 1rem 0rem;
  }

  .landscapeImgContainer {
    height: 320px;
  }

  .classicContainer {
    height: 420px;
  }

  .imgContainer > img {
    /* object-fit: cover; Maintain aspect ratio and fill the container */
    aspect-ratio: auto;
    /* object-fit: scale-down; */
  }
  .detailsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* flex-direction: column-reverse; */
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0;
  }

  .detailsContainer :nth-child(1) {
    order: 1;
  }

  .detailsContainer :nth-child(2) {
    order: 2;
  }

  .detailsContainer :nth-child(3) {
    order: 4;
    margin: 2rem 0rem;
  }

  .detailsContainer :nth-child(4) {
    order: 3;
  }

  .btns {
    height: 77px;
  }
}
