.container {
  width: 100%;
  height: 100%;
  display: flex;
  gap: 3em;
}

.container h2 {
  margin-bottom: 2rem;
}

.container h3 {
  margin: 1.5rem 0rem;
}

.container ul {
  list-style: disc;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

.container p {
  margin-bottom: 1rem;
}

.imgContainer {
  position: relative;
  width: 936px;
  min-width: 350px;
  /* height: auto; */
}

.shippingImage {
  width: 100%;
  height: auto;
}

.textContainer {
  width: 60%;
}

@media screen and (max-width: 640px) {
  .container {
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
  }

  .imgContainer {
    position: relative;
    width: 365px;
  }

  .shippingImage {
    width: 100%;
    height: auto;
  }

  .textContainer {
    width: 100%;
  }
}
