.container {
  width: 50vw;
  margin: auto;
}

.container h2 {
  margin-bottom: 2rem;
}

.container h3 {
  margin: 1.5rem 0rem;
}

.container h4 {
  margin: 1rem 0rem;
}

.container p {
  margin-bottom: 1rem;
}

.container a:link {
  /* text-decoration: underline; */
  font-weight: 500;
}

.container a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 640px) {
  .container {
    width: 95vw;
  }
}
